<!doctype html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<style type="text/css">
		.info{
			font-size: 45px;
		}

		.tab {
		    margin-left: 40px;
		}

		.btn{
			text-decoration: None;
		}

		.a {
		    text-decoration: None;
		}

		body p{
			margin-bottom: 35px;
		}

	</style>

	<title>Info</title>
  </head>

  <body>
	<p class="info"><b> Information </b></p>

	{% for title in links%}
    <br>
	<p>
    <h1> {{ title }} </h1>
    <p>
    <h3 class="tab">Raw response information</h3>
    <span class="tab"><span class="tab">
        {{ links[title][0] }}
    </span></span>

    <span class="tab">
        {% if links[title][1] %}
        <a class="a" href="{{ links[title][1] }}">
        <h2 class="tab"><button class="btn"><b>Wiki page</b></button></h2>
        </a>
        {% endif %}
    </span>
    <br>
  	{% endfor %}

  </body>

</html>