<head>
    <style>
        .tab { margin-left: 40px; }
    </style>
</head>

<br>
<p><h1><b>Landmark</b></h1>
<br>

<hr>
<p><h2><b>About:</b></h2>
<hr>

<p><span class="tab"><h3>Landmark is a program that will help you explore the world map.</h3></span>
<p><span class="tab"><h3>APIs:</h3></span></p>
<p><span class="tab"><span class="tab"><a href="https://tech.yandex.ru/maps/geocoder/"><b>Geocoder api</b></a></span></span>
<p><span class="tab"><span class="tab"><a href="https://tech.yandex.ru/maps/geosearch/"><b>Geosearch api</b></a></span></span>
<p><span class="tab"><span class="tab"><a href="https://www.mediawiki.org/wiki/API:Main_page"><b>Wiki api</b></a></span></span>
<p><br>

<hr>
<p><h2><b>Usage:</b></h2>
<hr>

<p><h3><span class="tab">Settings:</span></h3>
<p><span class="tab"><span class="tab"><b>Im [input mode]</b> - you can switch this option to change input mode (writing or talking)</span></span><br>
<span class="tab"><span class="tab"><b>Api</b> - you can switch this option to choose api using for search (geocoder or geosearch)</span></span>

<p><h3><span class="tab">Buttons:</span></h3>
<p>
<span class="tab"><span class="tab"><b>Help</b> - trigger for this page</span></span><br>
<span class="tab"><span class="tab"><b>Search</b> - used for text search</span></span><br>
<span class="tab"><span class="tab"><b>Record</b> - used for oral search</span></span><br>
<span class="tab"><span class="tab"><b>Info</b> - gives the information about found object</span></span><br>
<span class="tab"><span class="tab"><b>Re</b> - used to reset search result and delete spot from map</span></span><br>
<span class="tab"><span class="tab"><b>Ho</b> - used for focusing the map on the found object</span></span><br>
<br>

<p><h3><span class="tab">How to search:</span></h3>

<p><h4><span class="tab"><span class="tab">Cursor search:</span></span></h4>
<span class="tab"><span class="tab"><span class="tab"><b>1)</b> click on any building</span></span></span><br>
<span class="tab"><span class="tab"><span class="tab"><b>2)</b> if spot appeared - put on info button</span></span></span><br>

<p><h4><span class="tab"><span class="tab">Text/Voice search:</span></span></h4>
<span class="tab"><span class="tab"><span class="tab"><b>1)</b> choose input mode</span></span></span><br>
<span class="tab"><span class="tab"><span class="tab"><b>2)</b> put on search/record button</span></span></span><br>
<span class="tab"><span class="tab"><span class="tab"><b>3)</b> write/speak</span></span></span><br>
<span class="tab"><span class="tab"><span class="tab"><b>4)</b> if spot appeared - put on info button</span></span></span><br>
